<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProfilerMemoryLeakOptimization"
        tools:targetApi="31">
        <activity
            android:name=".memory_leak.leak_canary.SecondActivity"
            android:theme="@style/Theme.AppCompat.Light"
            android:exported="false" />
        <activity
            android:name=".memory_leak.leak_canary.FirstActivity"
            android:theme="@style/Theme.AppCompat.Light"
            android:exported="false" />
        <activity
            android:name=".profiling.NumerousGarbageCollectorActivity"
            android:exported="false" />
        <activity
            android:name=".profiling.LowMemoryUsageWithRecyclerViewActivity"
            android:exported="false" />
        <activity
            android:name=".profiling.HighMemoryUsageActivity"
            android:exported="false" />
        <activity
            android:name=".memory_leak.clean_objects.CleanObjectsActivity"
            android:exported="false" />
        <activity
            android:name=".memory_leak.static_object.StaticObjectActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ProfilerMemoryLeakOptimization">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>